/* Universal Selector */
* {
  margin: 0;
  padding: 0;
}

:root {
}

/* Element Selectors */
body {
  position: relative;
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 20px;
  background-color: #fdf8f5;
  color: #4f4846;
}

h1,
h2 {
  margin: 20px;
}

main {
  padding: 60px 0;
}

li {
  display: inline;
  padding: 0px 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #fdf8f5;
}

header,
footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: #142e54;
}

header {
  position: fixed;
  border-bottom: 10px solid #4c668c;
}

footer {
  position: absolute;
  margin-top: 0;
  bottom: 0;
  border-bottom: 10px solid #4f4846;
  color: #fdf8f5;
}

figure {
  margin-bottom: 40px;
}

img {
  display: block;
  margin: 20px auto;
}

section {
  margin-bottom: 0;
  padding: 20px 10px 40px 10px;
  border-top: 3px solid #ddaf94;
  background-color: #e8cebf;
}

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 500px;
  padding: 10px;
  border: 5px solid #ddaf94;
  border-radius: 20px;
}

label {
  display: inline-block;
  width: 100px;
}

input,
textarea {
  box-sizing: border-box;
  width: 300px;
  border: 1px solid #4f4846;
}

textarea {
  vertical-align: top;
  height: 60px;
}

button {
  height: 40px;
  width: 120px;
  background-color: #552700;
  color: #fdf8f5;
}

content {
}

/* Class Selectors */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

.about-me h2 {
  color: #0f5d2c;
  font-size: 75px;
  margin-bottom: 20px;
  align-items: flex-end;
}

.work h2 {
  color: #0f5d2c;
  font-size: 75px;
  margin-bottom: 20px;
}

img {
  transition: all 1s;
}

img:hover {
  transform: scale(1.1);
}
